.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#title {
  padding-bottom: 5px;
}

.iphone-case {
  display: flex;
  justify-content: center;
  height: 600px
}

.py-5 {
  padding-bottom: 0px!important;
}

.col-lg-6 {
  padding-top: 50px;
  margin-top: 0px;
  padding-left: 4rem;
}

.d-grid{
  margin-top: 2rem;
}

.btn-primary {
  background-color: rgb(248, 249, 250);
  border: none;
  color: black;
}

.btn-outline-secondary {
  color: white;
  border-color: white;
}

.btn-primary.my-button:hover {
  background-color: rgba(248, 249, 250, 0.538);
  border-color: rgba(248, 249, 250, 0.538);
  color: black;
}

.btn-outline-secondary.my-button:hover {
  color: black;
  background-color: rgba(248, 249, 250, 0.617);
  border-color: rgb(248, 249, 250, 0.617);;
}

.row-cols-lg-3 {
  padding-left: 1.5rem;
  padding-right: 3rem;

}

.icon-square {
  width: 50px;
  height: 50px;
  border-radius: 11px;
}

#features{
  padding-bottom: 48px;
}

img.jumbotron-image{
  border-radius: 50%;
  height: 7rem;
}

#testimonial .col-lg-12 {
  margin-top: 4rem;
}

#testimonial {
  background-color:rgba(248, 249, 250);
}

.col-lg-12 p{
  margin-top: 10px;
  margin-bottom: 3rem;
}

.col-lg-3 img{
  height: 30px;
}